.header-nav {
  height: 120px;
  color: #ffffff;
  background-color: #4056a1;
  padding: 1.5em 0;
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerRightSide {
  flex-direction: column;
}

.downArrows {
  display: flex;
  justify-content: center;
  color: red;
}

.headerTitle {
  font-family: bungee;
}

.navMessage {
  font: sans-serif;
}
