.tweet {
  padding: 0 1em;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 3px solid #535149;
  margin-top: 2em;
  margin-bottom: 1em;
  box-shadow: none;
}

.tweet:hover {
  box-shadow: 10px 5px 5px olive;
}

#flag:hover {
  color: red;
}
#retweet:hover {
  color: red;
}
#like:hover {
  color: red;
}

.upper-left {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.tweet-body {
  display: flex;
  justify-content: space-between;
}

.tweet-content {
  padding: 50px;
  border-bottom: 2px solid black;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
